body {
  background: rgb(97, 97, 234);
  font: normal 15pt Arial;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

headear {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.263);
  text-align: center;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

.titulo {
  word-spacing: 15px;
}

button {
  font-size: 100px;
  margin: 15px;
  text-align: center;
  cursor: pointer;
  background: white;
  border: 2px solid black;
  cursor: pointer;
}
button:hover {
  background: greenyellow;
}
